/.project
/.vscode
/.settings
/.idea
/.htaccess
/.buildpath
/cert.key
*.log
*.txt
/h5
# /web  # PC Web English version - do not ignore
/mshop
/config/database.php
/cashregister
/.env
/app/shop/controller/Test.php